<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Choose locations</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="../assets/logo/Logo.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-select placeholder="{{'common-words.select-country' | translate}}" (ionChange)="selectCountry($event)">
        <ion-select-option *ngFor="let country of countries" [value]="country">{{country.countryName}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select placeholder="{{'common-words.select-city' | translate}}" (ionChange)="selectCity($event)">
        <ion-select-option *ngFor="let city of cities" [value]="city">{{city.cityName}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button size="small" (click)="selectedCountryAndCity()">
      <ion-icon name="arrow-forward-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>