<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Terms & Condition</ion-title>
    <ion-avatar slot="end">
      <img alt="Silhouette of a person's head" src="../assets/logo/Logo.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo">
    <ion-img src="../../assets/logo/Logo.png"></ion-img>
  </div>
  <ion-card>
    <ion-card-content *ngIf="translate.currentLang=='en'">
      At U-car, we take your privacy very seriously. This privacy policy outlines the types of information we collect
      from our users, how we use that information, and the steps we take to protect it.
      <br>

      1. Information we collect
      <br>
      We may collect the following types of information from you when you use our car buying and selling app:
      <br>
      ● Personal information: such as your name, email address, phone number, and postal address.
      <br>
      ● Vehicle information: such as the make, model, and year of the car you are buying or selling.
      <br>
      ● Usage information: such as your IP address, device type, and operating system, as well as information about how
      you use our app.
      <br>
      2. How we use your information
      <br>
      We may use your information in the following ways:
      <br>
      ● To improve our app: we use your usage information to understand how people use our app, and to make improvements
      based on that feedback.
      <br>
      ● To communicate with you: we may use your personal information to send you updates about your car buying or
      selling transactions, or to respond to any inquiries you make through our app.
      <br>
      ● To comply with legal requirements: we may be required to share your information with law enforcement or other
      government agencies in response to a court order or subpoena.
      <br>

      3. How we protect your information
      <br>
      We take a number of steps to protect your information from unauthorized access, including:
      <br>
      ● Using encryption to protect your personal and financial information when it is transmitted between your device
      and our servers.
      <br>
      ● Storing your information on secure servers that are protected by firewalls and other security measures.
      <br>
      ● Regularly reviewing and updating our security practices to ensure they remain effective.
      <br>

      4. Sharing your information with third parties
      <br>
      We may share your information with third parties in the following circumstances:
      <br>
      ● With service providers: we may share your information with companies that provide services to us, such as
      payment processors, customer support providers, or marketing partners.
      <br>
      ● In connection with a merger or acquisition: if U-car is involved in a merger, acquisition, or sale of assets,
      your information may be transferred as part of that transaction.
      <br>
      ● To comply with legal requirements: we may be required to share your information with law enforcement or other
      government agencies in response to a court order or subpoena.
      <br>

      5. Your choices
      <br>
      You have certain choices about how your information is used and shared:
      <br>
      ● You can update your personal information at any time by logging into your Ucar account.
      <br>
      ● You can opt out of receiving promotional emails from U-car by following the unsubscribe link at the bottom of
      those emails.
      <br>
      ● You can request that we delete your account and all associated information by contacting us at the email address
      below.
      <br>

      6. Contact us
      <br>
      If you have any questions or concerns about our privacy policy or practices, please contact us at info@ucar.biz
      <br>
    </ion-card-content>
    <ion-card-content *ngIf="translate.currentLang=='ar'">
      في U-car ، نأخذ خصوصيتك على محمل الجد. تحدد سياسة الخصوصية هذه أنواع المعلومات التي نجمعها من مستخدمينا، وكيف
      نستخدم تلك المعلومات، والخطوات التي نتخذها لحمايتها.
      <br>
      1. المعلومات التي نجمعها<br>
    ‎قد نقوم بجمع الأنواع التالية من المعلومات منك عند استخدام تطبيق شراء سياراتنا وبيعها:
    <br>
      ‎● المعلومات الشخصية: مثل اسمك وعنوان البريد الإلكتروني ورقم الهاتف والعنوان البريدي.
      <br>
      ‎● معلومات المركبة: مثل صنع السيارة التي تشتريها أو تبيعها ونموذجها وسنة بيعها.
      <br>
      ‎● معلومات الاستخدام: مثل عنوان IP الخاص بك ، ونوع الجهاز ، ونظام التشغيل ، وكذلك معلومات حول كيفية استخدام
      تطبيقنا.
      <br>

      ‎2. كيف نستخدم معلوماتك<br>
      ‎قد نستخدم معلوماتك بالطرق التالية:<br>
      ‎● لتحسين تطبيقنا: نستخدم معلومات الاستخدام الخاصة بك لفهم كيفية استخدام الناس لتطبيقنا، ولإجراء تحسينات بناء على
      تلك التعليقات.<br>
      ‎● للتواصل معك: قد نستخدم معلوماتك الشخصية لإرسال تحديثات حول شراء سيارتك أو بيعها، أو للرد على أي استفسارات تقوم
      بها من خلال تطبيقنا.<br>
      ‎● الامتثال للمتطلبات القانونية: قد يُطلب منا مشاركة معلوماتك مع أجهزة إنفاذ القانون أو وكالات حكومية أخرى استجابة
      لأمر من المحكمة أو أمر استدعاء.<br>

      ‎3. كيف نحمي معلوماتك<br>
      ‎نتخذ عددا من الخطوات لحماية معلوماتك من الوصول غير المصرح به، بما في ذلك:<br>
      ‎● استخدام التشفير لحماية معلوماتك الشخصية والمالية عندما يتم نقلها بين جهازك وخوادمنا.<br>
      ‎● تخزين معلوماتك عن الخوادم الآمنة تحميها جدران الحماية وغيرها من التدابير الأمنية.<br>
      ‎● مراجعة وتحديث ممارساتنا الأمنية بانتظام لضمان بقائها فعالة.<br>

      ‎4. مشاركة معلوماتك مع أطراف ثالثة<br>
      ‎قد نشارك معلوماتك مع أطراف ثالثة في الظروف التالية:<br>
      ‎● مع مقدمي الخدمات: قد نشارك معلوماتك مع الشركات التي تقدم الخدمات لنا ، مثل معالجات الدفع ، ومقدمي دعم العملاء ،
      أو شركاء التسويق.<br>
      ‎● فيما يتعلق بالدمج أو الاستحواذ: إذا حدث لتطبيق U-CAR دمج أو اقتناء أو بيع الأصول، يمكن نقل معلوماتك كجزء من تلك
      المعاملة.<br>
      ‎● الامتثال للمتطلبات القانونية: قد يُطلب منا مشاركة معلوماتك مع أجهزة إنفاذ القانون أو وكالات حكومية أخرى استجابة
      لأمر من المحكمة أو أمر استدعاء.<br>

      ‎5. اختياراتك<br>
      ‎لديك خيارات معينة حول كيفية استخدام معلوماتك ومشاركتها:<br>
      ‎● يمكنك تحديث معلوماتك الشخصية في أي وقت عن طريق تسجيل الدخول إلى حساب U-car الخاص بك.<br>
      ‎● يمكنك إلغاء الاشتراك في تلقي رسائل البريد الإلكتروني الترويجية من U-car من خلال اتباع رابط إلغاء الاشتراك في
      أسفل رسائل البريد الإلكتروني هذه.<br>
      ‎● يمكنك طلب حذف حسابك وجميع المعلومات المرتبطة به عن طريق الاتصال بنا على عنوان البريد الإلكتروني أدناه.<br>

      ‎6. اتصل بنا<br>
      ‎إذا كان لديك أي أسئلة أو مخاوف حول سياسة الخصوصية أو ممارساتنا، يرجى الاتصال بنا على الرقم info@ucar.biz<br>
    </ion-card-content>
  </ion-card>
</ion-content>