<ion-header *ngIf="!isDesktop">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
    <ion-avatar slot="end" class="ion-avatar">
      <img alt="Silhouette of a person's head" src="../assets/logo/Logo.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>


<ion-header *ngIf="isDesktop">
  <ion-toolbar color="primary">
    <ion-title>About Us</ion-title>
    <ion-avatar slot="end" class="ion-avatar">
      <img alt="Silhouette of a person's head" src="../assets/logo/Logo.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="logo">
    <ion-img src="../../assets/logo/Logo.png" class="logo-img"></ion-img>
  </div>

  <div class="header">
    <ion-text>
      <h4>{{'common-words.about-content' | translate}}</h4>
    </ion-text>
    <ion-text>
      <h4>{{'common-words.reg-number' | translate}}</h4>
    </ion-text>

    <ion-text color="primary">
      <h4>1010857384</h4>
    </ion-text>
  </div>
</ion-content>
