<ion-header *ngIf="!isDesktop">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'common-words.product-details' | translate}}</ion-title>
    <ion-avatar slot="end">
      <img alt="Silhouette of a person's head" src="../assets/logo/Logo.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isDesktop">
  <ion-card class="slider-card">
    <swiper #swiper [config]="config" class="latest-swiper" (swiper)="swiper.swiperRef.autoplay.running = true">
      <ng-template swiperSlide *ngFor="let img of addDetails?.images">
        <ion-img [src]="img"></ion-img>
      </ng-template>
    </swiper>
    <ion-card-content class="card-content">
      <ion-card-subtitle>{{translate.currentLang=='ar'?addDetails.countryId.currency:addDetails.countryId.encurrency}} {{addDetails?.price | number:'1.2-2'}}</ion-card-subtitle>
      <p class="lbl-sub">{{addDetails?.name}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="details">
    <ion-card-content>
      <ion-text>
        <h2>
          {{'common-words.details' | translate}}
        </h2>
      </ion-text>
      <ion-item class="items">
        <ion-label>
          {{addDetails?.about}}
        </ion-label>
        <!-- <p class="right">
          {{addDetails?.about}}
        </p> -->
      </ion-item>

      <ion-item class="items">
        <ion-label>
          {{'common-words.kilometers' | translate}}
        </ion-label>
        <p class="right">
          {{addDetails?.kilometer | number:'1.0-0'}}
        </p>
      </ion-item>
      <!-- <ion-item class="items">
        <ion-label>
          Warranty
        </ion-label>
        <p class="right">
          Does not apply
        </p>
      </ion-item> -->

      <ion-item class="items">
        <ion-label>
          {{'common-words.year' | translate}}
        </ion-label>
        <p class="right">
          {{addDetails?.year}}
        </p>
      </ion-item>

      <ion-item class="items">
        <ion-label>
          {{'common-words.country' | translate}}
        </ion-label>
        <p class="right">
          {{translate.currentLang=='ar'? addDetails?.countryId?.countryName:addDetails?.countryId?.encountryName}}
        </p>
      </ion-item>

      <ion-item class="items">
        <ion-label>
          {{'common-words.city' | translate}}
        </ion-label>
        <p class="right">
          {{translate.currentLang=='ar'? addDetails?.cityId?.cityName:addDetails?.cityId?.encityName}}
        </p>
      </ion-item>

      <ion-item class="items">
        <ion-label>
          {{'common-words.brand' | translate}}
        </ion-label>
        <p class="right">
          {{translate.currentLang=='ar'? addDetails?.brandId?.brandName:addDetails?.brandId?.enbrandName}}
        </p>
      </ion-item>

      <ion-item class="items">
        <ion-label>
          {{'common-words.model' | translate}}
        </ion-label>
        <p class="right">
          {{translate.currentLang=='ar'? addDetails?.modelId?.modelName:addDetails?.modelId?.enmodelName}}
        </p>
      </ion-item>

      <!-- <div class="more-info">
        <ion-text>Show more details</ion-text>
      </div> -->
      <!-- <div class="btn">
        <ion-button fill="solid">Call</ion-button>
      <ion-button fill="outline">Message</ion-button>
      <ion-button fill="solid">Chat</ion-button>
      </div> -->
    </ion-card-content>
  </ion-card>

  <ion-card class="details">
    <ion-card-header>
      <ion-card-subtitle>Contact Details:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item (click)="call(addDetails?.phone)">
        <ion-label>{{addDetails?.phone}} </ion-label>
        <ion-icon name="call-outline" slot="start"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-content *ngIf="isDesktop">
  <ion-card class="slider-card">
    <swiper #swiper [config]="config" class="latest-swiper">
      <ng-template swiperSlide *ngFor="let img of addDetails?.images">
        <ion-img [src]="img"></ion-img>
      </ng-template>
    </swiper>
    <ion-card-content class="card-content">
      <ion-card-subtitle>{{translate.currentLang=='ar'? addDetails.countryId.currency:addDetails.countryId.encurrency}} {{addDetails?.price | number:'1.2-2'}}</ion-card-subtitle>
      <p class="lbl-sub">{{addDetails?.name}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="details" class="ion-padding">
    <ion-card-content>
      <ion-text>
        <h2>
          {{'common-words.details' | translate}}
        </h2>
      </ion-text>
      <ion-item class="items">
        <ion-label>
          {{addDetails?.about}}
        </ion-label>
        <!-- <p class="right">
          {{addDetails?.about}}
        </p> -->
      </ion-item>

      <ion-item class="items">
        <ion-label>
          {{'common-words.kilometers' | translate}}
        </ion-label>
        <p class="right">
          {{addDetails?.kilometer | number:'1.2-2'}}
        </p>
      </ion-item>
      <!-- <ion-item class="items">
        <ion-label>
          Warranty
        </ion-label>
        <p class="right">
          Does not apply
        </p>
      </ion-item> -->

      <ion-item class="items">
        <ion-label>
          {{'common-words.year' | translate}}
        </ion-label>
        <p class="right">
          {{addDetails?.year}}
        </p>
      </ion-item>

      <ion-item class="items">
        <ion-label>
          {{'common-words.country' | translate}}
        </ion-label>
        <p class="right">
          {{translate.currentLang=='ar'? addDetails?.countryId?.countryName:addDetails?.countryId?.encountryName}}
        </p>
      </ion-item>

      <ion-item class="items">
        <ion-label>
          {{'common-words.city' | translate}}
        </ion-label>
        <p class="right">
          {{translate.currentLang=='ar'? addDetails?.cityId?.cityName:addDetails?.cityId?.encityName}}
        </p>
      </ion-item>

      <ion-item class="items">
        <ion-label>
          {{'common-words.brand' | translate}}
        </ion-label>
        <p class="right">
          {{translate.currentLang=='ar'? addDetails?.brandId?.brandName:addDetails?.brandId?.enbrandName}}
        </p>
      </ion-item>

      <ion-item class="items">
        <ion-label>
          {{'common-words.model' | translate}}
        </ion-label>
        <p class="right">
          {{translate.currentLang=='ar'? addDetails?.modelId?.modelName:addDetails?.modelId?.enmodelName}}
        </p>
      </ion-item>

      <!-- <div class="more-info">
        <ion-text>Show more details</ion-text>
      </div> -->
      <!-- <div class="btn">
        <ion-button fill="solid">Call</ion-button>
      <ion-button fill="outline">Message</ion-button>
      <ion-button fill="solid">Chat</ion-button>
      </div> -->
    </ion-card-content>
  </ion-card>

  <ion-card class="details" class="ion-padding">
    <ion-card-header>
      <ion-card-subtitle>Contact Details:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item (click)="call(addDetails?.phone)">
        <ion-label>{{addDetails?.phone}} </ion-label>
        <ion-icon name="call-outline" slot="start"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>