.logo {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    //padding: 9px;
    //background: #000;
    margin-top: 10px;
    border-radius: 15px;
}

.close {
    padding: 10px;
    text-align: right;
    margin-top: 20px;
}

.document {
    width: 175px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    text-align: center;
}


.copy {
    text-align: center;
    margin-top: 30px;
}

ion-item {
    border: 2px solid #d8d7d7;
    box-sizing: border-box;
    border-radius: 7px;
    margin-top: 10px;
    min-height: 50px;
    --background:none;
    margin-bottom: 6px;
  }

.input-div {
    margin-top: 10px;
  }
  .btn-div{
    margin-top: 10px;
  }
  .forgot-pass{
    text-align: right;
    color: #a2231f;
    font-size: 14px;
    font-weight: 600;
  }
  