
ion-avatar{
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}
.user-name{
    text-align: center;
    padding: 10px;
    /* color: #fff; */
    font-weight: 600;
    font-size: 13px;
}

 
 