<ion-header *ngIf="!isDesktop">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-avatar slot="end" class="ion-avatar">
      <img alt="Silhouette of a person's head" src="../assets/logo/Logo.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>
<ion-header *ngIf="isDesktop">
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
    <ion-avatar slot="end" class="ion-avatar">
      <img alt="Silhouette of a person's head" src="../assets/logo/Logo.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div class="inner-page">
      <div class="mb-3">
        <div class="studennt-info">
          <div class="heading">
            <h4>Personal Information</h4>
          </div>

          <div class="input-content">
            <div class="profilePic">
              <ion-input type="file" required (change)="uploadProfileImage($event)"></ion-input>
              <div class="profileInner">
                <ion-icon class="profileIcon" name="person" *ngIf="!userDetails?.imageUrl"></ion-icon>
                <ion-img [src]="userDetails?.imageUrl" *ngIf="userDetails?.imageUrl"></ion-img>
              </div>
              <span>
                <ion-icon name="camera"></ion-icon>
              </span>
            </div>

            <form name="personalForm" [formGroup]="personalInfoForm">
              <div class="login-input">
                <ion-input type="text" formControlName="fullname" name="fullname" id="fullname"
                  placeholder="Full Name"></ion-input>
                <div
                  *ngIf="personalInfoForm.controls.fullname.touched && personalInfoForm.controls.fullname.errors?.required"
                  class="v-error">
                  Full Name is required
                </div>
              </div>
              <div class="login-input">
                <ion-input type="text" name="email" formControlName="email" id="email"
                  placeholder="Email Address"></ion-input>
                <div *ngIf="personalInfoForm.controls.email.touched && personalInfoForm.controls.email.errors?.required"
                  class="v-error">
                  Email is required
                </div>
              </div>
              <div class="login-input">
                <ion-input type="text" name="mobile" formControlName="mobile" id="mobile"
                  placeholder="Mobile number"></ion-input>
                <div
                  *ngIf="personalInfoForm.controls.mobile.touched && personalInfoForm.controls.mobile.errors?.required"
                  class="v-error">
                  Mobile is required
                </div>
              </div>
            </form>
          </div>

          <div class="btn-content no-border">
            <ion-button class="login-btn" (click)="proceed()" [disabled]="personalInfoForm.invalid">Update</ion-button>
          </div>

          <div class="btn-content no-border">
            <ion-button class="login-btn" (click)="delete()" [disabled]="!userDetails">Delete Account</ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-content>