ion-select{
    width: 100%;
}
.div-btn{
    text-align: center;
    margin-top: 20px;
}
.ion-item-input {
    border: 2px solid #d8d7d7;
    box-sizing: border-box;
    border-radius: 7px;
    margin-top: 10px;
    min-height: 50px;
    --background: none;
    margin-bottom: 6px;
  }